<div class="additional">
          <ul id="menu-main-menu">
            <li class="menu-item"><a href="https://amsichani.github.io/dh_gr/identity">Ταυτότητα και Στόχοι</a></li>
            <li class="menu-item"><a href="https://amsichani.github.io/dh_gr/membership">Οργανωτική δομή και συμμετοχή στο Δίκτυο</a></li>     
            <li class="menu-item"><a href="https://amsichani.github.io/dh_gr/code_of_conduct">Αρχές συνεργασίας και συμπεριφοράς μελών εντός του δικτύου</a></li>       
            <li class="menu-item"><a href="https://amsichani.github.io/dh_gr/contact">Επικοινωνία</a></li>
          </ul>
        </div>
