<!DOCTYPE html>
<html>
  {% include header.html %}
  <body>
    <header role="banner" class="header-cont">
    <h1> <figure>
	<img src="https://amsichani.github.io/dh_gr/images/dhgr.png" width="250px" style="float: left; margin-right: 15px; margin-bottom: 15px;" />
</figure>
	    <a href="https://amsichani.github.io/dh_gr/">Ελληνικό Ερευνητικό Δίκτυο Ψηφιακών Ανθρωπιστικών Επιστημών/ Greek Digital Humanities Research Network (@DH_GR)</a></h1>
	{% include menu.html %}
	</header>
	<div role="main">
	{{content}}
    </div>
	  {% include footer.html %}
    </body>
</html>
